.styled-table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    /* width: 1200px; */
    min-width: 1200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #4338CA;
    color: #ffffff;
    text-align: left;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #4338CA;
}


.styled-table tbody tr.active-row {
    font-weight: bold;
    color: black;
}

h1 {
    margin-left: 0%;
}

div::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

html::-webkit-scrollbar {
    width: 20px;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-image: url('https://i.ibb.co/1RHr40z/248599.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 20px;
}


@media (max-width: 800px) {
    .styled-table {
        min-width: 6%;
        margin: 10px 0;
        font-size: 0.1em;
    }


    .styled-table th,
    .styled-table td {
        padding: 2px 5px;
    }



    h1 {
        margin-left: 0%;
        font-size: 20px;
    }

}


.child {
    display: inline-block;
    /* background: blue; */
    margin: 10px 0 0 2%;
    flex-grow: 1;
    height: 200px;
    width: calc(100% * (1/5) - 10px - 1px);
}

.slide-in-element {
    transform: translateY(-100%);
    animation: slideIn 1.5s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.mainform {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* Adjust the gap as needed */
}

.mainform hr {
    width: 100%;
    margin: 0;
    padding: 0;
    grid-column: 1 / span 3;
}

.mainform h2 {
    grid-column: 1/ span 3;
}

.mainform h3 {
    margin-left: 10px;
    grid-column: 1/ span 3;
}

.item {
    /* Add styling for your grid items */
    /* border: 1px solid #ccc; */
    text-align: center;
}

.item:last-child {
    grid-column: span 3;
}